
.icon-whatsapp:before { content: '\e800'; } /* '' */
.icon-play:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-atm:before { content: '\e803'; } /* '' */
.icon-headphones:before { content: '\e804'; } /* '' */
.icon-monitor:before { content: '\e805'; } /* '' */
.icon-window:before { content: '\e806'; } /* '' */
.icon-bowl:before { content: '\e807'; } /* '' */
.icon-barcode-scan:before { content: '\e808'; } /* '' */
.icon-smiley:before { content: '\e809'; } /* '' */
.icon-up-open-big:before { content: '\e80a'; } /* '' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-left-open-big:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-search-1:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-neuter:before { content: '\f22c'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */