@font-face {
    font-family: 'SanFranciscoDisplayRegular';
    src: url('fonts/SanFranciscoDisplayRegular.eot');
    src: url('fonts/SanFranciscoDisplayRegular.eot') format('embedded-opentype'),
         url('fonts/SanFranciscoDisplayRegular.woff2') format('woff2'),
         url('fonts/SanFranciscoDisplayRegular.woff') format('woff'),
         url('fonts/SanFranciscoDisplayRegular.ttf') format('truetype'),
         url('fonts/SanFranciscoDisplayRegular.svg#SanFranciscoDisplayRegular') format('svg');
}

@font-face {
    font-family: 'SanFranciscoDisplayMedium';
    src: url('fonts/SanFranciscoDisplayMedium.eot');
    src: url('fonts/SanFranciscoDisplayMedium.eot') format('embedded-opentype'),
         url('fonts/SanFranciscoDisplayMedium.woff2') format('woff2'),
         url('fonts/SanFranciscoDisplayMedium.woff') format('woff'),
         url('fonts/SanFranciscoDisplayMedium.ttf') format('truetype'),
         url('fonts/SanFranciscoDisplayMedium.svg#SanFranciscoDisplayMedium') format('svg');
}

@font-face {
    font-family: 'SanFranciscoDisplayThin';
    src: url('fonts/SanFranciscoDisplayThin.eot');
    src: url('fonts/SanFranciscoDisplayThin.eot') format('embedded-opentype'),
         url('fonts/SanFranciscoDisplayThin.woff2') format('woff2'),
         url('fonts/SanFranciscoDisplayThin.woff') format('woff'),
         url('fonts/SanFranciscoDisplayThin.ttf') format('truetype'),
         url('fonts/SanFranciscoDisplayThin.svg#SanFranciscoDisplayThin') format('svg');
}

@font-face {
    font-family: 'SanFranciscoDisplayBold';
    src: url('fonts/SanFranciscoDisplayBold.eot');
    src: url('fonts/SanFranciscoDisplayBold.eot') format('embedded-opentype'),
         url('fonts/SanFranciscoDisplayBold.woff2') format('woff2'),
         url('fonts/SanFranciscoDisplayBold.woff') format('woff'),
         url('fonts/SanFranciscoDisplayBold.ttf') format('truetype'),
         url('fonts/SanFranciscoDisplayBold.svg#SanFranciscoDisplayBold') format('svg');
}

@font-face {
    font-family: 'SanFranciscoDisplaySemibold';
    src: url('fonts/SanFranciscoDisplaySemibold.eot');
    src: url('fonts/SanFranciscoDisplaySemibold.eot') format('embedded-opentype'),
         url('fonts/SanFranciscoDisplaySemibold.woff2') format('woff2'),
         url('fonts/SanFranciscoDisplaySemibold.woff') format('woff'),
         url('fonts/SanFranciscoDisplaySemibold.ttf') format('truetype'),
         url('fonts/SanFranciscoDisplaySemibold.svg#SanFranciscoDisplaySemibold') format('svg');
}

@font-face {
    font-family: 'SanFranciscoDisplayLight';
    src: url('fonts/SanFranciscoDisplayLight.eot');
    src: url('fonts/SanFranciscoDisplayLight.eot') format('embedded-opentype'),
         url('fonts/SanFranciscoDisplayLight.woff2') format('woff2'),
         url('fonts/SanFranciscoDisplayLight.woff') format('woff'),
         url('fonts/SanFranciscoDisplayLight.ttf') format('truetype'),
         url('fonts/SanFranciscoDisplayLight.svg#SanFranciscoDisplayLight') format('svg');
}

@font-face {
  font-family: 'solvvy';
  src: url('fonts/solvvy.eot?58944536');
  src: url('fonts/solvvy.eot?58944536#iefix') format('embedded-opentype'),
       url('fonts/solvvy.woff2?58944536') format('woff2'),
       url('fonts/solvvy.woff?58944536') format('woff'),
       url('fonts/solvvy.ttf?58944536') format('truetype'),
       url('fonts/solvvy.svg?58944536#solvvy') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'solvvy';
    src: url('../font/solvvy.svg?58944536#solvvy') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "solvvy";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-whatsapp:before { content: '\e800'; } /* '' */
.icon-play:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-atm:before { content: '\e803'; } /* '' */
.icon-headphones:before { content: '\e804'; } /* '' */
.icon-monitor:before { content: '\e805'; } /* '' */
.icon-window:before { content: '\e806'; } /* '' */
.icon-bowl:before { content: '\e807'; } /* '' */
.icon-barcode-scan:before { content: '\e808'; } /* '' */
.icon-smiley:before { content: '\e809'; } /* '' */
.icon-up-open-big:before { content: '\e80a'; } /* '' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-left-open-big:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-search-1:before { content: '\e80e'; } /* '' */
.icon-search-2:before { content: '\e80f'; } /* '' */
.icon-avatar:before { content: '\e810'; } /* '' */
.icon-operator:before { content: '\e811'; } /* '' */
.icon-book:before { content: '\e812'; } /* '' */
.icon-apple:before { content: '\e813'; } /* '' */
.icon-clock:before { content: '\e814'; } /* '' */
.icon-robot-head:before { content: '\e815'; } /* '' */
.icon-pillar:before { content: '\e816'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-neuter:before { content: '\f22c'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */

@font-face {
  font-family: 'solvvy_v2';
  src:  url('fonts/solvvy_v2.eot?22017348');
  src:  url('fonts/solvvy_v2.eot?22017348#iefix') format('embedded-opentype'),
    url('fonts/solvvy_v2.ttf?22017348') format('truetype'),
    url('fonts/solvvy_v2.woff?22017348') format('woff'),
    url('fonts/solvvy_v2.svg?22017348#solvvy_v2') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="Iconsolvvy-"]:before, [class*=" Iconsolvvy-"]:before {
  font-family: "solvvy_v2";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.Iconsolvvy-alarm:before { content: '\e800'; } /* '' */
.Iconsolvvy-apple:before { content: '\e801'; } /* '' */
.Iconsolvvy-archery:before { content: '\e802'; } /* '' */
.Iconsolvvy-arrow-down:before { content: '\e803'; } /* '' */
.Iconsolvvy-atm:before { content: '\e804'; } /* '' */
.Iconsolvvy-attachment:before { content: '\e805'; } /* '' */
.Iconsolvvy-banknote-oval:before { content: '\e806'; } /* '' */
.Iconsolvvy-big-book:before { content: '\e807'; } /* '' */
.Iconsolvvy-bowl:before { content: '\e808'; } /* '' */
.Iconsolvvy-brain:before { content: '\e809'; } /* '' */
.Iconsolvvy-browser-tab:before { content: '\e80a'; } /* '' */
.Iconsolvvy-browser-window-1:before { content: '\e80b'; } /* '' */
.Iconsolvvy-calendar:before { content: '\e80c'; } /* '' */
.Iconsolvvy-cash-in-hand:before { content: '\e80d'; } /* '' */
.Iconsolvvy-clock:before { content: '\e80e'; } /* '' */
.Iconsolvvy-closed-mail:before { content: '\e80f'; } /* '' */
.Iconsolvvy-clothes-hanger:before { content: '\e810'; } /* '' */
.Iconsolvvy-coffee-to-go:before { content: '\e811'; } /* '' */
.Iconsolvvy-column:before { content: '\e812'; } /* '' */
.Iconsolvvy-console:before { content: '\e813'; } /* '' */
.Iconsolvvy-controller:before { content: '\e814'; } /* '' */
.Iconsolvvy-cpu:before { content: '\e815'; } /* '' */
.Iconsolvvy-cutlery:before { content: '\e816'; } /* '' */
.Iconsolvvy-development:before { content: '\e817'; } /* '' */
.Iconsolvvy-dollar:before { content: '\e818'; } /* '' */
.Iconsolvvy-download-big-cloud:before { content: '\e819'; } /* '' */
.Iconsolvvy-download-cloud:before { content: '\e81a'; } /* '' */
.Iconsolvvy-finance-presentation:before { content: '\e81b'; } /* '' */
.Iconsolvvy-gaming:before { content: '\e81c'; } /* '' */
.Iconsolvvy-headphone-attention:before { content: '\e81d'; } /* '' */
.Iconsolvvy-headphones:before { content: '\e81e'; } /* '' */
.Iconsolvvy-heart:before { content: '\e81f'; } /* '' */
.Iconsolvvy-institution:before { content: '\e820'; } /* '' */
.Iconsolvvy-laptop:before { content: '\e821'; } /* '' */
.Iconsolvvy-line-code:before { content: '\e822'; } /* '' */
.Iconsolvvy-lines-graph:before { content: '\e823'; } /* '' */
.Iconsolvvy-magnifying-glass:before { content: '\e824'; } /* '' */
.Iconsolvvy-molecule:before { content: '\e825'; } /* '' */
.Iconsolvvy-monitor-cpu:before { content: '\e826'; } /* '' */
.Iconsolvvy-monitor:before { content: '\e827'; } /* '' */
.Iconsolvvy-peers:before { content: '\e828'; } /* '' */
.Iconsolvvy-person:before { content: '\e829'; } /* '' */
.Iconsolvvy-pie-chart:before { content: '\e82a'; } /* '' */
.Iconsolvvy-presentation-lines:before { content: '\e82b'; } /* '' */
.Iconsolvvy-printer:before { content: '\e82c'; } /* '' */
.Iconsolvvy-qr-code:before { content: '\e82d'; } /* '' */
.Iconsolvvy-red-cross:before { content: '\e82e'; } /* '' */
.Iconsolvvy-robot-head:before { content: '\e82f'; } /* '' */
.Iconsolvvy-smart-phone:before { content: '\e830'; } /* '' */
.Iconsolvvy-smiley:before { content: '\e831'; } /* '' */
.Iconsolvvy-whatsapp:before { content: '\e832'; } /* '' */
.Iconsolvvy-window:before { content: '\e833'; } /* '' */
.Iconsolvvy-zig-zag-graph:before { content: '\e834'; } /* '' */
.Iconsolvvy-progress:before { content: '\e835'; } /* '' */
.Iconsolvvy-left-open:before { content: '\e836'; } /* '' */
.Iconsolvvy-right-open:before { content: '\e837'; } /* '' */
.Iconsolvvy-angle-left:before { content: '\f104'; } /* '' */
.Iconsolvvy-angle-right:before { content: '\f105'; } /* '' */