.the-post {
    display:none;
}

form.marketo-updates {
	display: table;
	width: 100%!important;
	max-width: 510px;
	margin-bottom: 20px;
	@include center;
	div:first-of-type,
	.mktoButtonRow {
		display: table-cell;
		width: 60%;
		vertical-align: middle;
	}
	.mktoGutter,
	.mktoOffset {
		display: none!important;
	}
	.mktoFormCol, .mktoFieldWrap{
		max-width: 100% !important;
	}

	> div:first-of-type input,
	.mktoButtonRow button {
		height: 50px;
		width: 100%!important;
		font-size: 16px;
		padding: 20px;
		@include border-box;
		border: 1px solid transparent;
		outline: none;
	}
	> div:first-of-type {
		> div {
			margin-bottom: 0!important;
		}
		& input{
			border-radius: 4px 0 0 4px;
			border: 1px solid #d6dde4;
		}
	}
	.mktoButtonWrap{
		bottom: 0;
    	right: 0;
    	left: 0;
		&.mktoRound{
			margin-left: 0!important;
			button.mktoButton {
				border: 1px solid $brand-primary;
				background: $brand-primary;
				margin-left: -2px;
				color: white;
				font-family: $font-semibold;
				padding: 0 10px;
				line-height: 50px;
				font-size: 14px;
				padding: 0;
				cursor: pointer;
				border-radius: 0 4px 4px 0;
				@include transition;
				&:hover {
					background: white;
					border: 1px solid $brand-primary;
					color: $brand-primary;
				}
			}
		}
	}
	
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #c5ced7;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #c5ced7;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: #c5ced7;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: #c5ced7;
	}
}

.content-button {
	margin-bottom: 80px;
}

#newsletterForm {
		h3 {
			font-size: 28px;
			text-align: center;
		}
		p {
			text-align: center;
			margin-bottom: 50px;
		}
		.labels {
			text-align: left;
		}		
		label {
			color: #6b7d92;
			font-size: 15px;
			font-weight: bold;
			&:before {
				content: "*";
				padding-right: 2px;
				color: $brand-primary;
				}
			}
		input {
			margin-bottom: 30px;
			margin-top: 10px;
			width: 260px;
			height: 37px;
			font-size: 16px;
			color: #6b7d92;
			border: 1px solid #ccc;
			border-radius: 3px;
			padding-left: 10px;
		}
		#submit {
			height: auto;
			width: 272px;
			padding: 8px;
			color: #fff;
			border: none;
			font-size: 18px;
			&:hover {
				color: $brand-primary;
				border: 1px solid $brand-primary;
				border-radius: 3px;
			}
		}
}



// 768px
@media all and (min-width: $screen-portrait) {
	.news {
		width:66%;
		display: inline-block;
		padding-top: 50px;
	}	
	#newsletterForm {
		width: 71%;
		margin: 0 auto;
		.labels {
			padding-bottom: 250px!important;
			width: 97%;
		#submit {
			margin-top: 16px!important;
		}	
		}
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	form.marketo-updates{
		margin-bottom: 0;
	}
	.news {
		padding-top: 0;
	}
	#newsletterForm {
		width: 93%;
		.labels {
			width: 100%;
		}
		.first {
			float: left;
			}
		.sec {
			float: right;
			}
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
	form.marketo-updates{
		> div:first-of-type {
			width: 68%;
		}
		.mktoButtonRow {
			width: 32%!important;
		}
	}
	#newsletterForm {
		width: 75%;
	}
}


@media all and (min-width: 1250px) {

}
