.metrics {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 60px;
	ul {
		@include formated-list;
	}
	.button {
		margin-bottom: 64px;
	}
}
.text-underlined {
	text-transform: uppercase;
	color: $brand-tertiary;
	line-height: 1.4em;
	font-size: 36px;
	margin-bottom: 40px;
	span {
		border-bottom: 1px solid $brand-secondary;
	}
}

.box-metric {
	position: relative;
	text-align: left;
	margin-bottom: 40px;
	small {
		color: $brand-secondary;
		text-align: right;
		display: inline-block;
		position: absolute;
		right: 0;
		top: 20px;
		font-size: 14px;
		i {
			display: block;
			font-size: 30px;
			margin-bottom: 10px;
			margin-right: -4px;
		}
	}
	h3 {
		font-family: $font-light;
		font-size: 100px;
		line-height: 100px;
		margin: 0;
	}
	p {
		border-top: 1px solid lighten($brand-tertiary, 40%);
		font-size: 20px;
		padding-top: 22px;
		line-height: 1.4em;
		margin: 22px 0 0 0;
	}

	&.red {
		h3,
		small {
			color: $brand-primary;
		}
	}

	&.lighten {
		h3,
		small {
			color: #bdb2f2;
		}
	}

	&.lighten2 {
		h3,
		small {
			color: #9155aa;

		}
	}
}

// 768px
@media all and (min-width: $screen-portrait) {
}

// 992px
@media all and (min-width: $screen-landscape) {
	.metrics {
		background: url(images/orbit-metrics.png) no-repeat left center;
		text-align: left;
		padding-top: 50px;
		padding-bottom: 80px;
		.container {
			display: table;
			width: 100%;
			.col-right,
			.col-left {
				vertical-align: top;
				display: table-cell;
				width: 30%;
			}
			.col-right {
				width: 70%;
				padding-left: 75px;
			}
			.col-left {
				border-right: 1px solid lighten($brand-tertiary, 40%);
			}
		}
	}

	.text-underlined {
		font-size: 48px;
		margin-bottom: 60px;
		line-height: 1.4em;
	}

	.box-metric {
		h3 {
			font-size: 127px;
			line-height: 127px;
		}
	}
}

// 1300px
@media all and (min-width: 1300px) {
	.metrics {
		.button {
			margin-bottom: 20px;
		}
		.container {
			.col-right {
				width: 72%;
				padding-left: 55px;
			}
			.col-left {
				width: 28%; 
			}
		}
		ul {
			font-size: 0;
			li {
				display: inline-block;
				width: 50%;
				&:nth-child(odd) {
					padding-right: 30px;
					@include border-box;
				}
				&:nth-child(even) {
					text-align: right;
					vertical-align: top;
				}
				&:nth-child(3),
				&:nth-child(4) {
					.box-metric {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.box-metric {
		max-width: 400px;
		display: inline-block;
		small {
			i {
				margin-bottom: 12px;
			}
		}
		p {
			margin-top: 10px;
		}
	}
}