.whats-solvvy {
	text-align: center;
	background: url(images/orbit.png) no-repeat bottom right;
	position: relative;
	padding: 60px 30px 0 30px;
	@include border-box;
	&.pink-ball:before {
		top: -130px;
		text-align: center;
	}
	.wrapper {
		overflow: hidden;
	}
	h2 {
		@extend .underlined;
		font-family: $font-semibold;
		font-size: 36px;
		text-align:center;
	}
	p {
		font-size: 20px;
		line-height: 1.6em;
		margin-bottom: 56px;
	}
	.col-left {
		@include border-box;
		width: 100%;
    	display: block;
		h2 {
			text-align: center;
		}
	}
	.col-right {
	    max-height: 470px;
		padding-top: 80px;
		line-height: 0;
		width: 100%;
    	display: block;
		@include border-box;
	}


	// 992px
	@media all and (min-width: $screen-landscape) {	

	}

	@media all and (min-width: 1250px) {
		width: 100%;
		padding-right: 0;
		text-align: left;
		h2 {
			&:after {
				margin-left: 0;
			}
		}
		&.vertical-align-middle {
			.col-left,
			.col-right {
				vertical-align: middle;
			}
		}
		.col-left,
		.col-right {
			width: 40%;
			vertical-align: bottom;
			display: inline-block;
		}
		.col-left {
			padding-right: 30px;
			text-align: left;
			h2 {
				text-align: left;
			}
			p {
				padding-right: 20px;
			}
			.button {
				margin-bottom: 40px;
			}
		}
		.col-right {
			max-height: none;
			position: absolute;
			top: 0;
			right: 0;
			padding-top: 0;
			width: 60%;
		}
		.wrapper {
			position: relative;
		}
	}
	// 1200px
	@media all and (min-width: $screen-desktop-big) {
		padding: 170px 0 0 0;
		&.pink-ball:before {
			top: -100px;
		}
		.col-left,
		.col-right {
			width: 50%;
		}
		.col-left {
			padding-left: 15%;
			p {
				max-width: 460px;
				padding: 0;
			}
			.button {
				margin-bottom: 80px;
			}
		}
	}


}
.screen {
	width: 100%;
	height: auto;
	max-width: 780px;
}


// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
	@media all and (min-width: $screen-desktop) {
		.page-template-software .whats-solvvy {
			padding: 0 0 100px 0;			
		}

}