.line-time {
	margin-bottom: 60px;
	text-align: center;
	hr {
		height: 2px;
		background: $brand-primary;
		border: 0;
		margin: 0;
		width: 100%;
		display: none;
	}
	li {
		margin-bottom: 0px;
	}
	ul {
		width: 80%;
		@include center;
		border-right: 2px solid $brand-primary;
		display: inline-block;
	}
	
}

.line-time-box {
	border-bottom: 2px solid $brand-primary;
	@include border-box;
	padding: 30px;
	position: relative;
	text-align: left;
	&:before {
		content: "";
		display: block;
		height: 14px;
		width: 14px;
		border-radius: 50%;
		background: $brand-primary;
		position: absolute;
		left: -9px;
		bottom: -9px;
		@include box-shadow(0,0,10px,$brand-primary);
	}
	h4 {
		font-family: $font-semibold;
		font-size: 26px;
	}
	p {
		margin-bottom: 0;
		font-size: 16px;
	}
}
// 768px
@media all and (min-width: $screen-portrait) {
	
}

// 992px
@media all and (min-width: $screen-landscape) {
	.line-time-box {
		max-width: 400px;		
	}
	.line-time {
		hr {
			display: block;
		}
		ul {
			display: table;
			width: 100%;
			border: 0;
		}
		li {
			display: table-cell;
			vertical-align: top;
		}
	}
	.line-time-top {
		.line-time-box {
			border-bottom: 0;
			border-left: 2px solid $brand-primary;
			padding-top: 0;
			h4 {
				margin-top: 0;
			}
			p, h4 {
				position: relative;
				top: -9px;
			}
			&:before {
				left: -8px;
				bottom: auto;
				top: 0px;
			}
		}
	}
	.line-time-bottom {
		.line-time-box {
			border: 0;
			&:after {
				content: "";
				height: 48px;
				background: $brand-primary;
				width: 2px;
				display: inline-block; 
				position: absolute;
				left: 0;
				top: 0;
			}
			&:before {
				left: -6px;
				top: 38px;
				bottom: auto;
			}
		}
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
	.line-time-top,
	.line-time-bottom {
		max-width: 80%;
	}
	.line-time-top {
		margin-left: 20%!important;
	}
}