.solution-for-industry {
	&.tab-panels {
		background: none;
	}
}
.container {
	> .blue-box {
		min-width: 100%;
		background-size: contain;
		@include border-box;
	}
}

// 768px
@media all and (min-width: $screen-portrait) {
}

// 992px
@media all and (min-width: $screen-landscape) {
	.container {
		> .blue-box {
			.image {
				padding-right: 20px;
			}
		}
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
}