.line-time {
	background: $gray;
	margin-bottom: 60px;
	hr {
		height: 2px;
		background: $brand-primary;
		border: 0;
		margin: 0;
		width: 100%;
		display: none;
	}
	li {
		margin-bottom: 30px;
	}
	ul {
		width: 93%;
		@include center;

	}
	h4 {
		font-family: $font-semibold;
		font-size: 26px;
	}
	p {
		font-size: 16px;
	}
}

.line-time-box {
	border-bottom: 2px solid $brand-primary;
	@include border-box;
	padding: 20px;
	position: relative;
	&:before {
		content: "";
		display: block;
		height: 14px;
		width: 14px;
		border-radius: 50%;
		background: $brand-primary;
		position: absolute;
		left: -9px;
		bottom: -9px;
		@include box-shadow(0,0,10px,$brand-primary);
	}
}
// 768px
@media all and (min-width: $screen-portrait) {
	
}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
@media all and (min-width: $screen-desktop) {
}