.hero-banner-blog {
	background: url(images/bkg-blog.png) no-repeat center center;
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
	h1, h2 {
		color: white;
		margin: 0;
	}
}
.blog-content {
	padding: 80px 0;
	.container {
		max-width: 1060px;
	}
}
.box-post {
	@extend .box;
	@include transition;
	padding: 80px 50px;
	text-align: center;
	position: relative;
	margin-bottom: 100px;
	h2 {
		font-family: $font-medium;
		margin-bottom: 20px;
	}
	p {
		line-height: 1.5em;
		a {
			color: $brand-primary;
			&:hover {
				color: $brand-secondary;
			}
		}
	}
	small {
		display: block;
		margin-bottom: 50px;
		color: $brand-tertiary;
		position: relative;
		a {
			color: $brand-secondary;
			display: inline-block;
			&:hover {
				color: $brand-primary;
			}
		}
	}
	svg.waves-on-bottom {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
	}
	svg.waves-on-top {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
	.hidden-info {
		img {
			width: 100%;
			height: auto;
			margin-bottom: 20px;
		}		
	}
}
.content-avatar {
	height: 5px;
	width: 100%;
	left: 0;
	top: -35px;
	position: absolute;
	text-align: center;
}
.avatar {
	width: 70px;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
	height: 70px;
	box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
}
.hidden-info {
	display: none;
}

.with-waves-on-bottom {
	padding-bottom: 100px;
}
.with-waves-on-top {
	padding-top: 100px;
}
.marketo-follow-us {
	h4 {
		font-family: $font-light;
		font-size: 14px;
		color: $brand-tertiary;
		letter-spacing: 1px;
	}
	.fa {
		color: $brand-tertiary;
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px 0 0;
		font-size: 20px;
		opacity: .5;
		&:hover {
			opacity: 1;
		}
	}
}
.fixed-form {
	position: fixed; 
	top: 126px; 
	left: 0;
	z-index: 999;
	width: 100%;
	box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
}

.popup-author {
	background: white;
	padding: 40px;
	text-align: center;
	position: relative;
	box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
	max-width: 320px;
	width: 100%;
	@include border-box;
	@include transition;
	position: absolute;
	top: 30px;
	left: -30%;
	opacity: 0;
	height: 0;
	z-index: 999;
	&:after {
		content: "\f0d8";
		color: white;
		position: absolute;
		z-index: 999;
		left: 48%;
		top: -17px;
		text-shadow: -4px 0px 6px rgba(0,0,0,0.1);
		@include fontawesome;
		font-size: 26px;

	}
	figure, h3 {
		margin: 0 0 22px 0;
	}
	h2 {
		color: $brand-tertiary;
		font-size: 20px;
		margin: 0 0 10px 0;
		font-family: $font-semibold;
	}
	h3 {
		font-family: $font-light;
		color: $brand-primary;
		font-size: 18px;
	}
	p {
		text-align: center!important;
		font-size: 16px;
		margin: 0;
		height: 0;
		opacity: 0;
		@include transition;
	}
}
.show-us {
	height: auto;
	opacity: 1;

	p {
		opacity: 1;
		height: auto;
	}
}


.blog-img {
	margin-bottom: 120px;
}
// 768px
@media all and (min-width: $screen-portrait) {
	.popup-author {
		left: 15%;
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	.hero-banner-blog {
		background-size: cover;
	}
	.box-post {
		padding-left: 115px;
		padding-right: 115px;
		p {
			text-align: left;
		}
		.hidden-info {
			* {
				text-align: left;
			}		
		}
	}

	.with-waves-on-bottom {
		padding-bottom: 200px;
	}
	.with-waves-on-top {
		padding-top: 200px;
	}

	.marketo-follow-us {
		h4 {
			margin: 0;
		}
		ul {
			font-size: 0;
			li {
				display: inline-block;
				vertical-align: middle;
				width: 25%;
				@include border-box;
				&:nth-child(1) {
					padding-right: 15px;
					text-align: right;
				}
				&:nth-child(2) {
					width: 50%;
				}
				&:nth-child(3) {
					padding-left: 15px;
					text-align: left;
				}
			}
		}
	}

	.popup-author {
		left: 19%;
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
}