.bubble-container{
		position: relative;
		height: 100vh;
		width: 100%;
	}
/* circles library */
.bubbles{
    position: absolute;
    z-index: 1;
}
.bubbles > div {
    overflow:hidden;
    float:left;
    width:auto;
    height:auto;
    position: relative;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    padding: 50%;
    border: 4px solid #FFF;
}
.bubbles .metrics{

}
.bubbles .people{

}
.bubbles .people span{
    opacity: 0;
    -webkit-transition: opacity 700ms; /* Safari */
    transition: opacity 700ms;
}
.bubbles .people:hover {
    background-image: none !important;
}
.bubbles .people:hover span{
    opacity: 1;
}
.bubbles > div > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.bubbles > div > div > div {
    display: table;
    width: 100%;
    height: 100%;
}
.bubbles > div > div > div > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.bubbles span{
    display: block;
    color: #FFF;
    padding: 10px 22px 0 22px;
}
.bubbles a{
   color: #FFF;
   font-size: 35px;
}
.bubbles .metric span.percent{
    font-size: 52px;
    font-weight: bolder;
}

.bubbles .people span.percent{
    font-size: 35px;
    font-weight: bold;
}

.bubbles span.description{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 63px;
    white-space: normal;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
}
.bubbles .people span.percent{
    font-size: 25px;
}
.lineconnector{
    position: absolute;
    z-index: 0;
}