.box-text-top {
	text-align: center;
	background: url(images/bkg-box-text-top.png) no-repeat bottom right;
	position: relative;
	padding: 100px 0 25px 0;
	@include border-box;
	
	h2 {
		@extend .underlined;
		&:after {
			margin-left: auto;
		}
		font-family: $font-semibold;
		font-size: 36px;
	}
	p {
		font-size: 20px;
		line-height: 1.6em;
		margin-bottom: 56px;
		text-align: left;
	}
	.container {
		max-width: 850px;
	}
}

.page-template-about-us .box-text-top, .page-template-careers .box-text-top {
	padding: 45px 0 90px 0;
}

.page-template-about-us .box-text-top.pink-ball, .page-template-careers .box-text-top.pink-ball {
	padding: 100px 0 25px 0;
}

.page-template-vision .box-text-top.align-center {
	padding: 90px 0;
}

.page-template-vision .box-text-top.container-normal {
	padding: 30px 0;
}

.page-template-customers .box-text-top.container-normal.pink-ball {
	padding: 120px 0 39px 0;
}

.container-normal {
	.container {
		max-width: 1330px;
	}
}

.pink-ball {
	&:before {
		content: url(images/pink-ball.png);
		position: absolute;
		height: 5px;
		width: 100%;
		left: 0;
		top: -100px;
		z-index: 999;
	}
}

.align-center {
	p {
		text-align: center;
	}
}
.box-text-and-image-top {
	@extend .box-text-top;
	background-size: cover;
	.container {
		max-width: 1300px;

		img.gif-animate {
			margin-bottom: 180px;
		}

		p {
			text-align: center;
		}
	}

	&.box-text-top.pink-ball{
		background: none;
		&:before{
			content: '';
		}
		&:after{
			content: '';
			background: url(images/bkg-orbits.png) repeat top right;
			background-size: cover;
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			right: 0;
			top: auto;
			bottom: -200px;
			z-index: -1;
		}
	}	
}

.bkg-none {
	background: white;
}
.software-container {
	margin-left: 30px;
	margin-right: 30px;
	h2 {
		text-align: left;
	}
	h2:after {
		margin-left: 0;
	}
}
.page-template-software .box-text-top {
	padding: 30px 0 0;
}

.page-template-software .box-text-top.container-normal.align-center {
	padding: 90px 0 0;
}
// 768px
@media all and (min-width: $screen-portrait) {
	.software-container {
		margin-left: 40px;
		margin-right: 40px;
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	.software-container {
		max-width: 970px;
	}
	.col-left, .col-right {
		width: 50%;
		display: table-cell;
		vertical-align:middle;
		h2 {
		text-align: left;
	}	
	}
	.col-left {
		padding-right: 40px;
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
	.software-container {
		max-width: 1300px;
	}
}

//1400px
@media all and (min-width: $screen-desktop-big) {
	.software-container {
		margin: 0 auto;
	}
}