$screen-smallportrait : 600px
$screen-portrait1     : 767px;
$screen-portrait      : 768px;
$screen-landscape     : 992px;
$screen-desktop       : 1200px;
$screen-desktop-big   : 1400px;
$screen-desktop-sbig  : 1700px;
$brand-primary        : #fa3777;
$brand-secondary      : #5d0e8b;
$brand-tertiary       : #6b7d92;
$brand-marine         : #3f2689;

$primary-font         : 'SanFranciscoDisplayRegular', sans-serif;

$font-bold            : 'SanFranciscoDisplayBold', sans-serif;
$font-thin            : 'SanFranciscoDisplayThin', sans-serif;
$font-semibold        : 'SanFranciscoDisplaySemibold', sans-serif;
$font-light           : 'SanFranciscoDisplayLight', sans-serif;
$font-medium          : 'SanFranciscoDisplayMedium', sans-serif;

$gray_lighter         : #f6f9fc;
$gray-light           : #f4f4f4;
$gray                 : #AAA;
$gray-dark            : #282828;

$font-color           : $brand-tertiary;

$margen               : 1em;
