.button {
	background: $brand-primary;
	color: white;
	display: inline-block;
	border: 1px solid $brand-primary;
	padding: 20px 45px;
	font-family: $font-semibold;
	@include border-radius(4px);
	@include border-box;
	text-align: center;
	width: 100%;

	// 768px
	@media all and (min-width: $screen-portrait) {
		font-size: 21px;
		width: auto;
	}
	&:hover {
		background: white;
		color: $brand-primary;
	}
}

.button-brand {
	border: 1px solid lighten($brand-tertiary, 40%);
	background: #f6fafd;
	display: block;
	@include border-radius(4px);
	padding: 20px;
	@include border-box;
	img {
		width: 100%;
		max-height: 400px;
	}
	&:hover {
		background: white;
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		@include box-shadow(0px, 0px, 10px, rgba(0,0,0,.2));
	}
}

.icon-play {
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
}