.button {
	background: $brand-primary;
	color: white;
	display: inline-block;
	border: 1px solid $brand-primary;
	padding: 20px 45px;
	font-family: $font-semibold;
	@include border-radius(4px);
	@include border-box;
	text-align: center;
	width: 100%;

	// 768px
	@media all and (min-width: $screen-portrait) {
		font-size: 21px;
		width: auto;
	}
	&:hover {
		background: white;
		color: $brand-primary;
	}
}

.icon-play {
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
}