.solution-for-industry {
	text-align: center;
	padding: 50px 0 95px 0;
	h2 {
		@extend .underlined;
	}
}

.panel-solution {
	display: none;
	&.the-first {
		display: block;
	}
}

// 768px
@media all and (min-width: $screen-portrait) {
}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
@media all and (min-width: $screen-desktop) {
}