.solution-for-industry {
	text-align: center;
	padding: 50px 0 95px 0;
	h2 {
		@extend .underlined;
	}
}

.panel-solution {
	display: none;
	background: white url(images/waves-pink.png) no-repeat bottom;
	margin-top: 34px;
	padding: 50px 26px 130px 67px;
	@include box-shadow(0px, 0px, 10px, rgba(0,0,0,.2));
	text-align: left;
	max-width: 350px;
	@include center;
	@include border-box;
	ul {
		@include formated-list;
	}
	h4 {
		color: $brand-primary;
		font-size: 16px;
		font-family: $font-semibold;
		position: relative;
		text-transform: uppercase;
		i {
			position: absolute;
			left: -60px;
			top: -5px;
			font-size: 30px;
		}
		&:after {
			content: "\f054";
			@include fontawesome;
			font-size: 18px;
			position: relative;
			vertical-align: middle;
			opacity: .5;
			margin-left: 20px;
		}

	}
	p {
		font-size: 16px;
		line-height: 1.5em;
		font-family: $font-light;
	}
	&.panel-role {
		display: block;
	}
	&.panel-business {
		background: white url(images/waves-blue.png) no-repeat bottom;
		h4 {
			color: $brand-secondary;
		}
	}
	&.panel-industry {
		background: white url(images/waves-gray.png) no-repeat bottom;
		h4 {
			color: $brand-tertiary;
		}
	}
}
.tab-link {
	display: none;
}
.columns-solutions {
	margin-top: 80px;
}
// 768px
@media all and (min-width: $screen-portrait) {

}

// 992px
@media all and (min-width: $screen-landscape) {
	.solutions {
		display: none;
	}
	.tab-link {
		display: block;
		text-align: left;
		@include border-box;
		padding: 30px 40px 10px 68px;
		cursor: pointer;
		@include transition;
		h4 {
			text-transform: uppercase;
			font-family: $font-semibold;
			font-size: 18px;
			position: relative;
			color: $brand-primary;
			i {
				position: absolute;
				left: -50px;
				top: -8px;
				font-size: 30px;
			}
		}
		&:hover {
			@include linear-gradient(to right, #f9fbfd, transparent);
		}
		&.active {
			@include linear-gradient(to right, #f9fbfd, transparent);
		}
		&.tab-business {
			h4 {
				color: $brand-secondary;
			}
		}
		&.tab-industry {
			h4 {
				color: $brand-tertiary;
			}
		}
	}
	.columns-solutions {
		display: table;
		width: 100%;
		.col-left,
		.col-right {
			display: table-cell;
			width: 50%;
			vertical-align: top;
		}
	}
	.panel-solution {
		max-width: 512px;
		padding: 70px 70px 140px 97px;
		margin-top: 0;
		position: relative;
		&:before {
			content: "\f0d9";
			@include fontawesome;
			color: white;
			font-size: 30px;
			// color: red;
			text-shadow: -4px 0px 5px rgba(0,0,0,.1);
			display: block;
			left: -10px;
			top: 14%;
			position: absolute;

		}
		&.panel-business {
			&:before {
				top: 43%;
			}
		}
		&.panel-industry {
			&:before {
				top: 73%;
			}
		}
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
	.tab-link {
		padding: 48px 57px 28px 118px;
	}
}