.blue-box-waves {
	@extend .blue-box;
	@include center;
	padding: 40px;
	background: $brand-marine;
	margin: 0;
}

.line-height {
	line-height: 0;
}

// 768px
@media all and (min-width: $screen-portrait) {
	.blue-box-waves  {
		display: block;
		.container {
			display: table;
			width: 100%;
		}
	}
}

// 992px
@media all and (min-width: $screen-landscape) {

}

// 1200px
@media all and (min-width: $screen-desktop) {
}