.box-partners {
	@extend .hero-banner;
	background: url(images/bkg-box-partners.jpg) no-repeat center center; 
	.container {
		max-width: 100%;

	}
	h2 {
		font-family: $font-thin;
		color: white;
		// 992px
		@media all and (min-width: $screen-landscape) {
			font-size: 54px;
		}	
	}
	small {
		color: white;
		text-transform: uppercase;
		font-size: 18px;
		display: block;
		margin-bottom: 57px;
		letter-spacing: 2px;
	}
	.brand {
		max-width: 136px;
	}
}

// 768px
@media all and (min-width: $screen-portrait) {
}



// 1200px
@media all and (min-width: $screen-desktop) {
}