.main-nav {
	background: white;

	&:after {
		clear: both;
		content: "\00a0";
		display: block;
		height: 0;
		font: 0px/0 serif;
		overflow: hidden;
	}
}

.nav-brand{
	float: left;
	margin: 6px 0 10px 20px;
	a{
		img{
			height: 25px;
		}
	}
}

#main-menu {
	clear: both;
	&.sm-clean{
		border-radius: 0;
		background: #38316b;
		font-family: $font-medium;
		font-size: 16px;

		& li{
			border-top: 1px solid #21135f;
			&:hover{
				background: darken(#38316b, 10%);
			}
			&.top-menu, &.top-menu li{
				border: none;
			}
			li {
				background: #725ab4;
				&:hover{
					background: darken(#725ab4, 10%);
				}

				li{
					background: #bdb2f2;
					&:hover{
						background: darken(#bdb2f2, 10%);
					}
				}
			}
		}

		a{
			color: white;
			padding: 15px 35px;
			&.has-submenu::after{
				content: 'x';
			}
		}

		.demo, .search{
			display: none;
		}
		li.top-menu li{
			background: $brand-tertiary;
			&:hover{
				background: darken($brand-tertiary, 10%);
			}
		}
	}
}






/* Mobile menu toggle button */

.main-menu-btn {
	margin: 0 20px 0 0;
	float: right;
	position: relative;
	display: inline-block;
	width: 29px;
	height: 29px;
	text-indent: 29px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 3px;
  width: 24px;
  background: $brand-tertiary;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}

.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}


/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}

#main-menu-state:checked ~ #main-menu {
  display: block;
}

@media (min-width: 1024px) {
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }
}


@media (min-width: 1024px) {
	.nav-brand{
		margin: 0;
		a{
			img{
				height: 35px;
			}
		}
	}
	#main-menu {
		float: right;
		clear: none;
	
		&.sm-clean{
			background: red;

			.demo, .search{
				display: inline-block;
			}
		}
	}
}




/*.main-nav {
	@include border-radius(5px);
	height: 85px;
	padding-top: 20px;

	&:after {
		clear: both;
		content: "\00a0";
		display: block;
		height: 0;
		font: 0px/0 serif;
		overflow: hidden;
	}

	.nav-brand {
		margin: 5px 0 0;
		display: block;
		float: left;

		a {
			display: block;
			img{
				height: 35px;
			}
		}
	}

	#main-menu {
		float: right;
		display: block;

		& > li{
			margin: 0 15px;
			line-height: 38px;
			padding-top: 5px;

			&:first-child{
				ul{
					left: -100px !important;
					&::after{
						left: 175px;
					}	
				}
			}

			a{
				color: $brand-secondary;
				font-family: $font-semibold;
				font-size: 17px;
			}
			&.search, &.demo{
				padding-top: 0px;
			}
			&.search{
				a{
					color: #9baaba;
					font-size: 40px;
					font-family: FontAwesome;
				}
			}
			.button{
				color: #fff;
				text-transform: uppercase;
				padding: 3px 35px;
				&:hover{
					color: $brand-primary;
				}
			}
		}
		a.has-submenu{
			&::after{
				font-family: FontAwesome;
				content: '\f078';
				font-size: 13px;
				padding-left: 5px;
				color: #9baaba;
			}
		}

		ul {
			background: white;
			@include border-radius(5px);
			@include box-shadow(-5px, 0px, 40px, #ccc);

			&:after{
				border-color: transparent transparent white transparent;
			}

			li{
				width: 200px;
				display: block;
				float: left;

				a{
					padding: 0;
				}
			}
		}
	}

}

@media (min-width: 1024px) {
  #main-menu {
  }
}











@media (min-width: 1024px) {
  #main-menu {
    float: right;
    clear: none;
  }
}




.main-menu-btn {
  float: right;
  margin: 6px 10px;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: 29px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}




.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: #555;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}

.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}




#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}




#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}




#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}

#main-menu-state:checked ~ #main-menu {
  display: block;
}

@media (min-width: 1024px) {
  
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }
}
*/









// 1024px
@media all and (min-width: $screen-portrait) {
}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
@media all and (min-width: $screen-desktop) {
}